*.vscode
*__pycache__
*.weights
*.pth
*.json
*.ipynb_checkpoints
*.MOV

data/train.txt
data/val.txt
data/*
data/annotations
data/images

test_img/*/*/*.jpg

distance/disnet/train/*
distance/disnet/calib/*

distance/calib_pics