[submodule "yolov4"]
	path = yolov4
	url = git@github.com:snbcypher/yolov4.git
[submodule "yolo_pruning"]
	path = yolo_pruning
	url = git@github.com:snbcypher/yolo_pruning.git
[submodule "pruning"]
	path = pruning
	url = git@github.com:snbcypher/pruning.git
